.Library {
    z-index: 10;
    display: flex;
    position: fixed;
    background: palevioletred;
    height: 100%;
    flex-direction: column;
    padding: 1rem;
    width: 180px;

    .ComponentWrapper {
        background: pink;
        color: #696969;
        padding: .5rem 1rem;
        margin: .25rem 0;
        font-weight: bold;
    }
}