.Sandbox {
    position: relative;
    z-index: 2;
    background: beige;
    height: 600px;
    // width: 100%;
    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 10rem;
    }
    &.mask::after {
        z-index: 1;
        content: 'Drop into sandbox';
        font-size: 62px;
        color: green;
        background: rgba(255, 255, 255, .8);
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        text-align: center;
    }
}