.Sandbox {
    position: relative;
    z-index: 2;
    background: beige;
    height: 600px;

    .content {
        position: relative;
        margin: 1rem 1rem 1rem 15rem;
        height: 100%;
    }
}