.ComponentBuilder {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    .flex {
        display: flex;
        &.row { flex-direction: row; }
        &.col { flex-direction: column; }
        &.space { justify-content: space-between; }
    }
    $sizes: 12, 24, 48;
    @each $size in $sizes {
        .Grid-#{$size} {
            display: grid;
            grid-template-columns: repeat(auto-fill, #{$size}px);
            //grid-template-rows: repeat($size, #{$size}fr);
        }
    }
}