.ComponentWrapper {
    background: rgba(200,200,200, 0.5);
    &.droppable {
        position: relative;
        background: white;
        //padding: 20px;
        opacity: 0.9;

        &::after {
            content: '';
            color: #696969;
            background: rgba(234,231,2, 0.5);
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    &.dragging {
        opacity: 0.5;
    }
    &.drop {
        background: green;
    }
    &.error {
        background: red;
    }
    &.child {
        background: yellow;
    }
}